@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "raleway", "sans-serif";
}

.custom-img0 {
  background-image: url("../public/Edited-Schim-Pics/aronsonarkin2.jpg");
}
.custom-img1 {
  background-image: url("../public/sft_spectrograms/bass2.png");
}
.custom-img2 {
  background-image: url("../public/sft_spectrograms/mouth.png");
}

.custom-img3 {
  background-image: url("../public/sft_spectrograms/mod1.png");
}

.custom-img4 {
  background-image: url("../public/sft_spectrograms/pads2.png");
}

.custom-img5 {
  background-image: url("../public/sft_spectrograms/arp2.png");
}

.custom-img6 {
  background-image: url("../public/sft_spectrograms/saxlong.png");
}
.custom-img7 {
  background-image: url("../public/Edited-Schim-Pics/studio.jpg");
}
.custom-img8 {
  background-image: url("../public/Edited-Schim-Pics/trioAtElis.jpg");
}
.custom-img9 {
  background-image: url("../public/Edited-Schim-Pics/mic.jpg");
}

.homePageImage {
  opacity: .9;
  border: 1px solid pink;
  
}
