@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "raleway", "sans-serif";
}

.custom-img0 {
  background-image: url("../public/Edited-Schim-Pics/aronsonarkin2.jpg");
}
.custom-img1 {
  background-image: url("../public/sft_spectrograms/bass2.png");
}
.custom-img2 {
  background-image: url("../public/sft_spectrograms/mouth.png");
}

.custom-img3 {
  background-image: url("../public/sft_spectrograms/mod1.png");
}

.custom-img4 {
  background-image: url("../public/sft_spectrograms/pads2.png");
}

.custom-img5 {
  background-image: url("../public/sft_spectrograms/arp2.png");
}

.custom-img6 {
  background-image: url("../public/sft_spectrograms/saxlong.png");
}
.custom-img7 {
  background-image: url("../public/Edited-Schim-Pics/studio.jpg");
}
.custom-img8 {
  background-image: url("../public/Edited-Schim-Pics/trioAtElis.jpg");
}
.custom-img9 {
  background-image: url("../public/Edited-Schim-Pics/mic.jpg");
}

.homePageImage {
  opacity: 0.9;
  border: 1px solid pink;
}

.gallery {
  width: 600px;
  height: 400px;
}

.fadeIn3s {
  animation: fadeIn 3s;
}
.fadeIn4s {
  animation: fadeIn 4s;
}
.fadeIn5s {
  animation: fadeIn 5s;
}
.fadeIn6s {
  animation: fadeIn 6s;
}
.fadeIn7s {
  animation: fadeIn 7s;
}
.fadeIn8s {
  animation: fadeIn 8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/*  animate__fadeIn */
